<div class="container">
  <span>Room ID: {{roomId}}</span>
  <div>
    <button (click)="deleteRoom()">DELETE</button>
  </div>
  <div>
    <button (click)="switchDoNotDisturb()">Switch knock knock</button>
    <button [disabled]="isDoNotDisturb" (click)="knockKnock()">Knock Knock</button>
  </div>
  --
  <div>
    <span *ngIf="guest">Guest : {{guest}}</span>
  </div>
  <div>
    <span>Set Guest : </span>
    <input type="text" [(ngModel)]="guest">
  </div>
  <div>
    <app-fridge [isAvailable]="guest.includes('ROQUES')" (iAmAlmostEmpty)="orderBottles($event)"></app-fridge>
  </div>
</div>
